* {
    margin: 0px;
    padding: 0px;

}
body {
    background: #444 ;
    color: #faf5fa;
}

main {
width: 1000px;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
 background: #1715b4 ;

}
h1{font-size: 4em;}
h2{font-size: 3em;}

h3{font-size: 3em;}
h4{font-size: 1.5em;}
h5{font-size: 1.5em;}
p{font-size: 1.25em;}

header{
    background-color: rgb(13, 13, 22);
}

header h1{
   text-align: center; 
   color: #2633e7;
}
header h2{
   text-align: justify;
   color: #282e80;
   } 
header h3{
   text-align: justify;
   color: #282e80;
   } 
header h4{
   text-align: justify;
   } 
header h5{
   text-align: justify; 
    }
header p{
   text-align: justify; 
    }
aside{
   text-align: justify; 
     background-color: rgb(1, 1, 2);
    text-align: center;
    }

article {
    background-color: rgb(20, 61, 245);
    text-align: center;
    text-emphasis-color:  rgb(7, 3, 2); ;
}
footer{
    background-color: rgb(2, 10, 2);
    text-align: center;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}

